 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/kl.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1035px;
}

.u-section-1 .u-image-1 {
  width: 664px;
  height: 452px;
  margin: 148px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 122px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 27px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 892px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 882px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 14px;
    margin-right: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 298px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 368px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-1 .u-image-1 {
    height: 232px;
    margin-top: 123px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 139px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 643px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 1px auto 1px undefined;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 642px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 8px;
}

.u-section-2 .u-image-1 {
  width: 400px;
  height: 272px;
  margin: 185px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 642px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 99px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 14px 3px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 577px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 391px;
    height: 266px;
    margin-top: 191px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 705px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 43px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 716px;
  }

  .u-section-2 .u-image-1 {
    height: 212px;
    margin-top: 185px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 718px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 67px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 869px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 585px;
  }

  .u-section-2 .u-image-1 {
    height: 324px;
    width: 477px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 157px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -99px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 13px;
    margin-bottom: -61px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 57px;
    margin-bottom: 12px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 329px;
  }

  .u-section-2 .u-image-1 {
    height: 231px;
    margin-top: 64px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 562px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 28px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 559px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 573px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 11px;
}

.u-section-3 .u-image-1 {
  width: 390px;
  height: 390px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.45);
  background-image: url("images/dfgdfgd1.jpg");
  background-position: 99.23% 50%;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 573px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 10px auto 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 597px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 338px;
    height: 338px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 597px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 722px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    height: 270px;
    width: 270px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 722px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1170px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1098px;
  }

  .u-section-3 .u-image-1 {
    height: 380px;
    width: 380px;
    margin-top: 13px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 12px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 0 10px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -630px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1365px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 691px;
  }

  .u-section-3 .u-image-1 {
    height: 340px;
    width: 340px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 614px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -264px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 30px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 33px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 783px;
}

.u-section-4 .u-list-1 {
  margin-top: 172px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
  grid-gap: 20px 20px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 137px;
  height: 137px;
  background-image: url("images/download.png");
  background-position: 50% 50%;
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1);
  filter: brightness(0.95);
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  width: 137px;
  height: 137px;
  background-image: url("images/images.png");
  background-position: 50% 50%;
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1);
  filter: brightness(0.95);
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  width: 137px;
  height: 137px;
  background-image: url("images/download-15.png");
  background-position: 50% 50%;
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1);
  filter: brightness(0.95);
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  width: 137px;
  height: 137px;
  background-image: url("images/download-16.png");
  background-position: 50% 50%;
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1);
  filter: brightness(0.95);
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-icon-1 {
  width: 134px;
  height: 134px;
  margin: -633px auto 0;
  padding: 0;
}

.u-section-4 .u-text-9 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  width: 547px;
  margin: -62px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 818px;
  }

  .u-section-4 .u-image-1 {
    animation-duration: 1000ms;
  }

  .u-section-4 .u-image-2 {
    animation-duration: 1000ms;
  }

  .u-section-4 .u-image-3 {
    animation-duration: 1000ms;
  }

  .u-section-4 .u-image-4 {
    animation-duration: 1000ms;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -715px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-4 .u-list-1 {
    width: 598px;
    margin-top: 292px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    min-height: 591px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 15px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 15px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 15px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 15px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -820px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 476px;
    margin-top: 320px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 525px;
    grid-auto-columns: calc(50% - 10px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 11px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 11px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 11px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 11px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -787px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-4 .u-list-1 {
    width: 314px;
    margin-top: 238px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 430px;
    grid-gap: 2px 2px;
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 4px 10px 11px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 1px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 19px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 4px 10px 11px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 1px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 19px;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 4px 10px 11px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 1px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 19px;
  }

  .u-section-4 .u-container-layout-4 {
    padding: 4px 10px 11px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 1px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 19px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -635px;
  }

  .u-section-4 .u-text-9 {
    font-size: 1.5rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 541px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 431px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  margin: 75px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 37px 0 0;
}

.u-section-5 .u-btn-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  border-style: none;
  background-image: none;
  margin: 37px auto 0;
}

.u-section-5 .u-image-1 {
  min-height: 431px;
  background-image: url("images/pexels-life-of-pix-7974.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 65px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 60px;
  }

  .u-section-5 .u-image-1 {
    min-height: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 343px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 46px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 27px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 46px;
  }

  .u-section-5 .u-image-1 {
    min-height: 272px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 323px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 7px 10px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 16px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 70px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 39px;
  }

  .u-section-5 .u-image-1 {
    min-height: 408px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 4px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 269px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 22px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 50px;
    margin-left: 3px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 31px;
  }

  .u-section-5 .u-image-1 {
    min-height: 257px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 733px;
}

.u-section-6 .u-image-1 {
  width: 285px;
  height: 285px;
  background-image: url("images/pexels-craig-dennis-205421.jpg");
  background-position: 25.42% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 32px auto 0;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 33px auto 0;
}

.u-section-6 .u-text-2 {
  font-weight: 400;
  width: 438px;
  margin: 30px auto 0;
}

.u-section-6 .u-list-1 {
  width: 671px;
  margin: 46px auto 0 57px;
}

.u-section-6 .u-repeater-1 {
  min-height: 186px;
  grid-template-columns: calc(50% - 25px) calc(50% - 25px);
  grid-gap: 50px 50px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-6 .u-text-4 {
  margin: 32px auto 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-6 .u-text-6 {
  margin: 32px auto 0;
}

.u-section-6 .u-group-1 {
  width: 310px;
  min-height: 185px;
  background-image: none;
  margin: -185px 57px 0 auto;
}

.u-section-6 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-6 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 158px;
  min-width: 94px;
  margin: 9px auto 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-icon-4 {
  height: 100%;
}

.u-section-6 .u-text-8 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-6 .u-text-9 {
  margin: 2px auto 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  font-weight: normal;
  padding: 0;
}

.u-section-6 .u-list-2 {
  margin: 57px auto 0;
}

.u-section-6 .u-repeater-2 {
  grid-gap: 0px 0px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-6 .u-image-1 {
    background-position: 77.07% 50%;
    margin-top: 50px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
  }

  .u-section-6 .u-list-1 {
    margin-top: 50px;
    margin-left: auto;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 222px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 50px;
    margin-right: auto;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-list-2 {
    margin-top: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-2 {
    grid-template-columns: repeat(undefined, NaN%);
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1349px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 21px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 44px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 15px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 419px;
    grid-template-columns: 100%;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-6 .u-group-1 {
    width: 671px;
    min-height: 184px;
  }

  .u-section-6 .u-list-2 {
    margin-top: 217px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1221px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 51px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 51px;
    margin-right: 51px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 51px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 51px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-list-2 {
    margin-top: 51px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1177px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-list-1 {
    margin-top: 21px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-1 {
    margin-top: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}